@import "tailwindcss";
@layer utilities {}

html {
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    .hamburger-btn {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hamburger-btn {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none !important;
    }
}

@keyframes float {
    0%, 100% { 
        transform: translateY(0px); 
    }
    50% { 
        transform: translateY(-20px); 
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

.animate-float-delayed {
    animation: float 3s ease-in-out infinite;
    animation-delay: 1.5s;
}